<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfnItVdsE_f8Ha8WTe0k7P3kl2iyY45DE</string>
	<key>GCM_SENDER_ID</key>
	<string>665218291966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.greenhackweek</string>
	<key>PROJECT_ID</key>
	<string>green-hackweek-59057</string>
	<key>STORAGE_BUCKET</key>
	<string>green-hackweek-59057.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665218291966:ios:e3e180e9977a863b6c2daf</string>
</dict>
</plist>